services:
  - type: web
    name: ia-edusphere-tunisie
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
    plan: free
